@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    scroll-behavior: smooth !important;
}

nav {
    background-color: #bf2300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 0 15px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 25px;
}

a:hover {
    color: #e2dada;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 35px;
    color: #fff;
}

.bar {
    background-color: #fff;
    width: 2px;
    height: 57px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 6px;
    width: 400px;
    height: 36px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
}

.search-bar button {
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.search-bar ::placeholder {
    color: #d9d9d9;
    font-size: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    min-height: 250px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 16px;
    z-index: 1;
    right: -15px;
    top: 61px;
}
  
.dropdown-content a {
    color: #757474;
    font-size: 23px;
    font-weight: 400px;
    padding: 8px 0;
    display: block;
    text-decoration: none;
    text-align: right;
}

.dropdown-content a:hover {
    color: #757474bd;
}
  
nav i:hover {
    color: #e2dada;
}

.dropdown i:hover {
    cursor: pointer;
}

.line {
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;
}

.section img {
    width: 50px;
}

.section {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 200;
    padding: 30px 15px;
}

.section span {
    font-size: 35px;
}

.section p {
    font-size: 25px;
    display: flex;
    align-items: center;
    position: relative;
    top: 4px;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin-bottom: 35px;
}

.ad {
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #7D7979;
    font-weight: 200;
    font-size: 18px;
    position: relative;
    bottom: 25px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.product h1 {
    font-size: 16px;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13BF81;
    width: 50px;
    height: 20px;
}

.icon img {
    width: 18px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.image2 {
    width: 160px;
    height: 150px;
    background-color: #d9d9d9;
}

.ad {
    width: 500px;
    height: 700px;

}


.aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.mini-container {
    display: flex;
    gap: 15px;
}

.item img {
    width: 470px;
    height: 480px;
}

.item {
    display: flex;
    gap: 15px;
}

.product-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quali {
    display: flex;
    gap: 10px;
}

.espec {
    color: #7D7979;
    font-size: 24px;
    font-weight: 200;
}

.divisor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add {
    border: 3px solid #FF2D00;
    border-radius: 10px;
    font-weight: 400;
    font-size: 25px;
    color: #FF2D00;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);

}

.add a {
    color: #FF2D00;
}

.buy {
    border: 3px solid #13BF81;
    border-radius: 10px;
    font-weight: 400;
    font-size: 25px;
    color: #13BF81;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);

}

.desc {
    width: 866px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desc-title {
    color: #7D7979;
    font-size: 40px;
    font-weight: 200;
}

.desc span {
    color: #7D7979;
    font-size: 18px;
}

footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEF;
    padding: 5px 5px 0 5px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7D7979;
    font-weight: 400;
}

footer i {
    color: #7D7979;
    font-size: 35px;
}

.footer-right i:hover {
    color: #575454;
}

@media (max-width: 1366px) and (max-height: 768px) {
    .product-title h1 {
        font-size: 18px;
    }

    .product-title img {
        width: 25px;
    }

    .add span {
        font-size: 19px;
    }

    .buy span {
        font-size: 19px;
    }

    .desc-title {
        font-size: 25px;
    }

    .desc span {
        font-size: 16px;
        margin-right: 20px;
    }

    .quali img {
        width: 23px;
    }

    .espec {
        font-size: 20px;
    }
    
}
